@font-face {
  font-family: 'GE Flow';
  src: url('../fonts/GEFlow-Bold.eot');
  src: url('../fonts/GEFlow-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GEFlow-Bold.woff2') format('woff2'),
    url('../fonts/GEFlow-Bold.woff') format('woff'),
    url('../fonts/GEFlow-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GE Flow';
  src: url('../fonts/GEFlow.eot');
  src: url('../fonts/GEFlow.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GEFlow.woff2') format('woff2'),
    url('../fonts/GEFlow.woff') format('woff'),
    url('../fonts/GEFlow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}