.publishers-testimonial-wrapper {
    .testimonial-bg {
        padding: 170px 0;
        background-position: 50% 50%;
        background-image: url("https://d329sg0poh8k4h.cloudfront.net/tafakkur-website/versions/slider-bg.jpg");
    }
}